<ion-view view-title="ICDC">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

    <!--newlink></newlink-->

    <!--div class="tabs tabs-dark tabs-icon-top static">

      <div class="tab-item">
        <label class="item item-input item-select">
          <div class="input-label">
            Catégorie
          </div>
          <select ng-model="filter.category">
            <option value="">Toutes</option>
            <option ng-repeat="cat in categories" value="{{cat}}">
              {{cat}}
            </option>
          </select>
        </label>
      </div>

    </div-->

    <div ng-hide="topTen[0]" class="errormessage warning">
      <div style="text-align: center">
        <h4>Pas de liens</h4>
      </div>
    </div>

    <ion-refresher
      pulling-text="Tirez pour actualiser..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="List">

      <label class="item item-input item-select">
        <div class="input-label">
          Catégorie
        </div>
        <select ng-model="filter.category" ng-change="changeCategory()">
          <option value="">Toutes</option>
          <option ng-repeat="cat in categories" value="{{cat}}">
            {{cat}}
          </option>
        </select>
      </label>

      <div class="item card-item" ng-repeat="like in topTen | filter:filter.category | orderBy: '-cpt' ">

        <div class="card stable-bg ink-dark">
          <div class="item item-avatar item-text-wrap">

            <div class="ink" ng-click="showURL(like.link)">
              <h2>{{like.link.title}}</h2>

              <p>{{like.link.teasing}}</p>

              <p>
                <b>{{like.link.category}}</b>
              </p>
              <p>
                <span class="subdued">{{like.cpt}} Like</span>
              </p>
            </div>

            <div class="card-footer text-right">
              <div class="text-right">
                <span class="pull-left">   partagé par  <i class="icon ion-person"></i> {{like.link.sharedBy}}</span>
                <button ng-click="moveToBiblio(like.link)" class=" button button-fab "><i class="icon ion-archive"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


    <!--
            <div class="item card-item" ng-repeat="like in topTen | filter:filter.category | orderBy: '-cpt' ">
            <div class="card stable-bg ink-dark">
              <div class="item item-avatar item-text-wrap">

                <div class="ink" ng-click="showURL(like.link)">
                  <h2>{{like.link.title}}</h2>

                  <p>{{like.link.teasing}}</p>

                  <p>
                    <b>{{like.link.category}}</b>
                  </p>

                </div>

                <div class="card-footer">
                  <div class="text-right">
                    <button ng-click="moveToBiblio(like.link)" class=" button button-fab"><i class="icon ion-eye"></i></button>
                  </div>
                </div>

              </div>
            </div>
          </div>
    -->
  </ion-content>
</ion-view>
