<ion-view view-title="Non Lu">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

    <newlink></newlink>

    <ion-refresher
      pulling-text="Tirez pour actualiser..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-hide="liens[0]" class="errormessage warning">
      <div style="text-align: center">
        <h4>Pas de liens</h4>
      </div>
    </div>

    <div class="item card-item" ng-repeat="lien in liens ">
      <div class="card stable-bg  ink-dark">
        <div class="item item-avatar item-text-wrap">

          <div class="ink" ng-click="showURL(lien)" >
            <h2>{{lien.title}}</h2>
            <p>{{lien.teasing}}</p>
            <p>{{lien.url.substring(0, 27)+ '...'}}</p>
          </div>

          <div class="card-footer text-right">
            <button ng-click="deleteLink(lien)" class="button button-fab "><i class="icon ion-trash-a"></i></button>
            <button ng-click="moveTo(lien)" class="button button-fab "><i class="icon ion-archive"></i></button>
            <button ng-show="canShare()" ng-click="share($event, lien)" class="button button-fab "><i class="icon ion-share"></i></button>
          </div>

        </div>

      </div>
    </div>

  </ion-content>
</ion-view>

