
<md-dialog aria-label="{{'view.nouveauLien.title' | translate}}" ng-cloak flex="50">

    <form name="currentForm">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span translate="view.nouveauLien.title"></span></h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <cdc-alert-error></cdc-alert-error>

                <div layout="row">
                    <md-input-container flex="grow">
                        <label translate="view.Lien.url"></label>
                        <input name="url" type="url" ng-model="currentLien.url" required size="">
                        <div role="alert"><span class="error" ng-show="currentForm.url.$error.required"> <span translate="view.error.required"/></span></div>
                        <div role="alert"><span class="error" ng-show="currentForm.url.$error.url"> <span translate="view.error.url"/></span></div>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <md-radio-group ng-model="currentLien.private" layout="row" layout-align="start center">
                            <md-radio-button value="biblio"> <span translate="view.Lien.biblio"/> </md-radio-button>
                            <md-radio-button value="nonlu"> <span translate="view.Lien.nonLu"/> </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="validate(currentLien)" aria-label="{{'action.validate' | translate}}" translate="action.validate"></md-button>
            <md-button class="md-raised" ng-click="cancel()" aria-label="{{'action.cancel' | translate}}" translate="action.cancel"></md-button>
        </md-dialog-actions>

    </form>

</md-dialog>