<ion-view view-title="Gestion des cercles">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

    <div class="List">

      <label class="item item-input item-select">
        <div class="input-label">
          Cercle
        </div>
        <select ng-model="data.selectedCercle"
                ng-change="changeCercle()"
                ng-options="aCercle.$id for aCercle in cercles track by aCercle.$id">
        </select>
      </label>

      <div class="item">
        <button ng-click="newCercleModal.show()" class=" button button-block bg-primary" style="color: #fff">Nouveau
          Cercle
        </button>
      </div>
    </div>

    <div class="list card">
      <div class="item text-center">
        <h2>Invitation</h2>
      </div>
      <label class="item item-input">
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
               ng-model="selectedItem"
               item-view-value-key="email"
               items-method="querySearch(query)"
               placeholder="Choisir un destinataire"
               max-selected-items="1"/>
      </label>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" on-tap="inviter(selectedItem)">
          <i class="icon ion-paper-airplane"></i> Inviter
        </a>
      </div>

    </div>

    <!--h3 class="title-primary">Invitation</h3-->

    <!--label class="item item-input">
      <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
             ng-model="selectedItem"
             item-view-value-key="email"
             items-method="querySearch(query)"
             placeholder="Choisir un destinataire"
             max-selected-items="1"/>
    </label-->

    <!--div style="text-align: center">
      <button ng-click="inviter(selectedItem)" class=" button button-flat bg-primary icon-right ion-paper-airplane"
              style="background-color: #b71c1c;">Lancer une invitation
      </button>
    </div-->

    <div class="list card">

      <div class="item text-center">
        <h2>Invité(s) / {{data.selectedCercle.$id}}</h2>
      </div>

      <div ng-repeat="personne in personnes | orderBy: fullname" class="item item-icon-left">
        <i class="icon ion-person"></i>&nbsp;<strong>{{personne.fullname}} ({{personne.email}})</strong>
      </div>

    </div>


    <!--h3 class="title-primary">Personnes / {{data.selectedCercle.$id}}</h3-->

    <!--ul class="list">
      <li ng-repeat="personne in personnes | orderBy: fullname" class="item">
        <span><b>{{personne.fullname}} ({{personne.email}})</b></span>
      </li>
    </ul-->

    <div class="list card">

      <div class="item text-center">
        <h2>Invitation(s) en attente</h2>
      </div>

      <div ng-hide="mesInvitations[0]" class="item">Aucune invitation en attente</div>

      <a class="item item-icon-right" ng-click="accepterInvitation(invitation)" href="#"
         ng-repeat="invitation in mesInvitations | orderBy: $id ">
        <strong>{{invitation.$id}}</strong>
        <i class="icon ion-checkmark-circled"></i>
      </a>

    </div>
    <!--h3 class="title-primary">Invitation(s) en attente </h3--->

    <!--div ng-hide="mesInvitations[0]" class="errormessage warning">Aucune pour le moment</div-->

    <!--div class="item card-item" ng-repeat="invitation in mesInvitations | orderBy: $id ">
      <div class="card stable-bg ink-dark">
        <div class="item item-text-wrap">
          <div class="ink" style="">
            <strong>{{invitation.$id}}</strong>
          </div>
          <div class=" text-right">
            <button ng-click="accepterInvitation(invitation)" class=" button button-fab "><i
              class="icon ion-thumbsup"></i></button>
          </div>
        </div>
      </div>
    </div-->

    <div class="errormessage warning">&nbsp;</div>

  </ion-content>
</ion-view>
