<form name="currentForm">
  <div class="list">

    <label class="item item-input">
      <input type="text" ng-model="shareLink.title" placeholder="Titre">
    </label>

    <label class="item item-input">
      <textarea name="teasing" rows="10" cols="50"  ng-model="shareLink.teasing"></textarea>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Catégorie
      </div>
      <select>
        <option ng-repeat="cat in categories" value="{{cat}}">
          {{cat}}
        </option>
      </select>
    </label>

  </div>
</form>
