<ion-view view-title="Top Ten">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

    <!--newlink></newlink-->

    <!--div class="tabs tabs-dark tabs-icon-top static">

      <div class="tab-item">
        <label class="item item-input item-select">
          <div class="input-label">
            Catégorie
          </div>
          <select ng-model="filter.category">
            <option value="">Toutes</option>
            <option ng-repeat="cat in categories" value="{{cat}}">
              {{cat}}
            </option>
          </select>
        </label>
      </div>

    </div-->

    <div ng-hide="topTen[0]" class="errormessage warning">
      <div style="text-align: center">
        <h4>Pas de liens</h4>
      </div>
    </div>

    <ion-refresher
      pulling-text="Tirez pour actualiser..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list animate-fade-slide-in-right">

      <label class="item item-input item-select">
        <div class="input-label">
          <i class="icon ion-ios-list-outline"></i> Catégorie
        </div>
        <select ng-model="filter.category" ng-change="changeCategory()">
          <option value="">Toutes</option>
          <option ng-repeat="cat in categories" value="{{cat}}">
            {{cat}}
          </option>
        </select>
      </label>

      <div class="item card-item" ng-repeat="like in topTen | filter:filter.category | orderBy: '-cpt' ">
        <div class="card stable-bg ink-dark">

          <div class="item item-body item-text-wrap">
            <div class="ink" ng-click="showURL(like.link)">
              <h2 style="color: #B71C1C">{{like.link.title}} (<i class="icon ion-heart"></i> {{like.cpt}})</h2>

              <p>{{like.link.teasing}}</p>

              <p>
                <strong><i class="icon ion-android-bookmark"></i> </strong>{{like.link.category}}
              </p>

              <p>
                <i class="icon ion-person"></i> {{like.link.sharedBy}}
              </p>
            </div>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#" on-tap="moveToBiblio(like.link)">
              <i class="icon ion-archive"></i> Biblio
            </a>
          </div>
          <!--div class="item item-divider">
            <div class="row">
              <div class="col">
                <button ng-click="moveToBiblio(like.link)" class=" button button-fab "><i class="icon ion-archive"></i>
                </button>
              </div>
            </div>
          </div-->
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
