<form name="currentForm">
  <div class="list">

    <div>{{message}}</div>

    <label class="item item-input">
      <input name="url" type="url" ng-model="currentLien.url" placeholder="url" autofocus>
    </label>

    <label class="item item-input">
      <input name="text" type="text" ng-model="currentLien.title" placeholder="titre" maxlength="60" required>
    </label>

    <label class="item item-input">
      A dépôser dans :
    </label>

    <ion-list>
      <ion-radio ng-model="currentLien.private" ng-value="false">Non Lu</ion-radio>
      <ion-radio ng-model="currentLien.private" ng-value="true">Biblio</ion-radio>
    </ion-list>

  </div>
</form>
