<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive-900"
                 ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}"
                 align-title="left">
      <!--ion-nav-back-button class="no-text">
      </ion-nav-back-button-->
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="fabContent"></ion-nav-view>
    <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="app-bg expanded">
      <span ng-show="!userAuthenticated" class="avatar motion spin fade" style="background: url('img/logo.png'); background-size: cover;"></span>
      <span ng-show="userAuthenticated" class="avatar motion spin fade" ng-style="{'background-image': 'url(' + user.picture + ')'}"></span>
      <h2>eLink <span ng-show="userAuthenticated">{{user.firstname}}</span></h2>
    </ion-header-bar>
    <ion-content class="stable-bg has-expanded-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-show="!userAuthenticated" ui-sref="app.login">
          <strong>Login</strong>
        </ion-item>
        <ion-item nav-clear menu-close ng-show="userAuthenticated" ng-click="logout()">
          <strong>Logout</strong>
        </ion-item>
        <ion-item nav-clear menu-close ng-show="userAuthenticated" on-tap="loadTargetState('app.bibli-nonLu')">
          <strong>Non Lu</strong><span class="badge badge-assertive">{{countNonLu}}</span>
        </ion-item>
        <ion-item nav-clear menu-close ng-show="userAuthenticated" on-tap="loadTargetState('app.bibli-lu')">
          <strong>Biblio</strong><span class="badge badge-assertive">{{countBiblio}}</span>
        </ion-item>
        <ion-item nav-clear menu-close ng-show="userAuthenticated" on-tap="loadTargetState('app.cercle-view')">
          <strong>Mes cercles</strong><span class="badge badge-assertive">{{countCercle}}</span>
        </ion-item>
        <ion-item nav-clear menu-close ng-show="userAuthenticated" on-tap="loadTargetState('app.icdc-view')">
          <strong>Top Ten</strong>
        </ion-item>
        <ion-item nav-clear menu-close ng-show="userAuthenticated" on-tap="loadTargetState('app.gestion-view')">
          <strong>Gérer mes cercles</strong>
        </ion-item>
      </ion-list>
    </ion-content>
    <!--ion-footer-bar class="dark-bg expanded force-footer-bar-heigth" align-title="left">
      <ul>
        <li><i class="icon ion-social-android"></i> {{myDevice}}</li>
        <li><i class="icon ion-grid"></i> {{versionNumber}} - {{versionCode}}</li>
        <li><i class="icon ion-wifi"></i> {{networkOnLine ? "Réseau Online" : "Réseau Offline"}}</li>
      </ul>
    </ion-footer-bar-->
  </ion-side-menu>
</ion-side-menus>
