<form name="currentForm">
  <div class="list">

    <ion-md-input placeholder="Titre" ng-model="shareLink.title" highlight-color="balanced" type="text" required></ion-md-input>
    <div role="alert"><span class="error" ng-show="currentForm.title.$error.required"> <span translate="view.error.required"/></span></div>

    <textarea name="teasing" rows="10" cols="50"  ng-model="shareLink.teasing"></textarea>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Catégorie
        </div>
        <select>
          <option ng-repeat="cat in categories" value="{{cat}}">
            {{cat}}
          </option>
        </select>
      </label>

    </div>

  </div>
</form>
