
<section class="canevas">

    <div class="formulaire">
        <md-card>

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span translate="view.nouveauLien.title"></span></h2>
                </div>
            </md-toolbar>

            <form name="currentForm">
                <cdc-alert-error></cdc-alert-error>

                <div layout="row">
                    <md-input-container flex="grow">
                        <label translate="view.Lien.url"></label>
                        <input name="url" type="url" ng-model="currentLien.url" >
                        <div role="alert"><span class="error" ng-show="currentForm.url.$error.url"> <span translate="view.error.url"/></span></div>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <md-radio-group ng-model="currentLien.private" layout="row" layout-align="start center">
                            <md-radio-button value="true"> <span translate="view.Lien.biblio"/> </md-radio-button>
                            <md-radio-button value="false"> <span translate="view.Lien.nonLu"/> </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>

                <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-click="validate()" aria-label="{{'action.validate' | translate}}" translate="action.validate"></md-button>
                </div>

            </form>
        </md-card>
    </div>

</section>
