<section class="canevas">

    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="space-around center">

            <md-select ng-model="cercle" ng-click="changeCercle()">
                <md-option ng-repeat="cercl in cercles" value="{{cercl}}">
                    {{cercl}}
                </md-option>
            </md-select>

            <md-button class="md-raised md-primary" ng-click="nouveauCercle($event)" aria-label="{{'action.validate' | translate}}" translate="gestion.action.nouveauCercle"></md-button>

        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <form name="currentForm" layout="row">

        <md-input-container flex="grow">
            <label translate="gestion.dashboard.invite"></label>
            <input name="invite" type="text" ng-model="invitation">
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="inviter(invite)" aria-label="{{'gestion.action.validate' | translate}}" translate="gestion.action.invite"></md-button>

    </form>

    <md-divider></md-divider>
    <md-subheader><span translate="gestion.dashboard.personnes"/></md-subheader>

    <div ng-hide="personnes.items[0]" class="errormessage warning" translate="list.empty"></div>

    <md-list>
        <md-list-item ng-repeat="personne in personnes.items | orderBy: order " >
            <div flex="auto" class="md-list-item-text" layout="column">
                <div  layout="row">
                    <span flex="15"><b>{{personne.nom}}</b></span>
                </div>
            </div>
        </md-list-item>
    </md-list>

    <md-divider></md-divider>
    <md-subheader><span translate="gestion.dashboard.invitations"/></md-subheader>

    <div ng-hide="mesInvitations[0]" class="errormessage warning" translate="list.empty"></div>

    <md-list>
        <md-list-item ng-repeat="invitation in mesInvitations | orderBy: order " >
            <div flex="auto" class="md-list-item-text" layout="column">
                {{invitation.cercle}}
            </div>
            <div flex="initial" layout="row">
                <md-button class="md-icon-button" ng-click="accepterInvitation(invitation)" aria-label="{{'view.action.read' | translate}}"><ng-md-icon icon="thumb_up" size="30" ></ng-md-icon> <md-tooltip>{{'gestion.action.accept' | translate}}</md-tooltip></md-button>
            </div>
        </md-list-item>
    </md-list>

</section>
