
.popup-body {
  background-color: white;
  color: #e6b400;
}

.item-select {
  position: relative;
}

.item-select select {
  min-width: 100%;
}

.title-primary {
  color: #b71c1c;
  text-align: center;
  border-bottom: 1px;
  border-bottom-style: solid;
}

.bg-primary {
  background-color: #b71c1c;
}

.title-primary {
  color: #B71C1C;
  text-align: center;
  border-bottom: 1px;
  border-bottom-style: solid;
}

select {
  max-width: 100%;
}

.hero {
  height: 30px !important;
}

.bar.bar-header.expanded, .expanded .bar.bar-header {
  height: 45px !important;
}

@media screen and (max-height: 350px) {

  .force-footer-bar-heigth {
    display: none;
    width: 0%;
  }
}

.force-vertical-align {
  vertical-align: middle !important;
}

.force-footer-bar-heigth {
  height: 110px !important;
}

.force-footer-bar-heigth.expanded {
  font-size: 80%;
}

.app-bg {
  background-color: #EF5350;
}

/* Menu
==================================*/
.menu .bar.bar-header.expanded {
  transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
  background-color: #EF5350;
}

.menu h2 {
  bottom: 0;
  font-size: 18px;
  left: 16px;
  position: absolute;
  color: white;
}

.menu .avatar {
  height: 88px;
  width: 88px;
}

.menu.menu-left * {
  font-weight: bold;
}

.menu-open .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
  content: "\f2ca";
}

.menu-open .force-footer-bar-heigth.expanded {
  background-color: #EF5350;
}


.input-label {
  z-index: 9 !important;
}

.item h2 {
  color: #B71C1C;
}

h3, .h3 {
  font-size: 16px;
}

.item-stacked-label textarea {
  border-bottom-style: solid;
  border-bottom-color: #B71C1C;
}

.item-stacked-label input {
  border-bottom-style: solid;
  border-bottom-color: #B71C1C;
}
